name: CI

on: 
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master      

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        options: 
          --name=postgres
        image: postgres:11   
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: npm install
    - name: Install Postgres
      uses: harmon758/postgresql-action@v1
      with:
        postgresql version: '11'
    - name: Setup Database
      run: |
          docker run -d postgres psql -c 'CREATE DATABASE abet_system_dev'
          docker run -d postgres psql -c 'CREATE DATABASE abet_system_test'
          npm run setup_db
          
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run Unit Test
        run: npm run test
